<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JOS</title>
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <script src="../../js/common.js"></script>
    <script src="../../js/main.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <nav class="navbar-fullscreen" id="navbar-middle">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class="navbar-fullscreen-links">
                    <li id="link-home"><a href="/" title="HOME">HOME</a></li>
                    <li id="link-login"><a href="/user/login" title="LOGIN">LOGIN</a></li>
                    <li id="link-logout"><a href="/user/logout" title="LOGOUT">LOGOUT</a></li>
                    <li id="link-recipe"><a href="/recipe/list" title="RECIPE">RECIPE</a></li>
                </ul>

                <div class="footer-container">
                    <p><small>© Recipe MoaMoa | Website created with E-build</small></p>
                    <p class="footer-share-icons">
                        <a href="https://github.com/e-build/java-oop-to-spring" class="fa-icon" title="java-oop-to-spring">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </nav>
        </div>
    </nav>
</header>

<div class="section-container">
    <!-- Add your site or app content here -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <div class="template-example">
                    <h4 class="template-title-example text-center">Category</h4>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td class="text-center">ALL</td>
                        </tr>
                        <tr>
                            <td class="text-center">한식</td>
                        </tr>
                        <tr>
                            <td class="text-center">양식</td>
                        </tr>
                        <tr>
                            <td class="text-center">중식</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-xs-12 col-md-10">
                <div class="template-example">
                    <h1 class="template-title-example text-center"><u>레시피 리스트</u></h1>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">번호</th>
                                        <th class="text-center">레시피 이름</th>
                                        <th class="text-center">작성자</th>
                                        <th class="text-center">수정시간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ALL</td>
                                        <td>ALL</td>
                                        <td>ALL</td>
                                        <td>ALL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>