<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .login-form {
            width: auto;

        }


    </style>
</head>
<body>

<h1>Welcome Home!</h1>

<form method="POST" action="/user/login">
    <div class="login-form">
        <label for="username">ID</label>
        <input type="text" id="username" placeholder="사용할 ID를 입력해주세요"/>
    </div>
    <div class="login-form">
        <label for="username">PW</label>
        <input type="text" id="password" placeholder="사용할 PAWSSWORD를 입력해주세요"/>
    </div>
    <div class="login-form">
        <input type="submit" value="제출"/>
    </div>
</form>

</body>
</html>