<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-MOAMOA</title>
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>

<header>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <nav class="navbar-fullscreen" id="navbar-middle">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class="navbar-fullscreen-links">
                    <li id="link-home"><a href="/" title="HOME">HOME</a></li>
                    <li id="link-login"><a href="/user/login" title="LOGIN">LOGIN</a></li>
                    <li id="link-logout"><a href="/user/logout" title="LOGOUT">LOGOUT</a></li>
                    <li id="link-recipe"><a href="/recipe/list" title="RECIPE">RECIPE</a></li>
                </ul>

                <div class="footer-container">
                    <p><small>© Recipe MoaMoa | Website created with E-build</small></p>
                    <p class="footer-share-icons">
                        <a href="https://github.com/e-build/java-oop-to-spring" class="fa-icon" title="java-oop-to-spring">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </nav>
        </div>
    </nav>
</header>

<div class="section-container">
    <div class="container">
        <div>
            <h1 class="template-title-example"><u>회원가입</u></h1>
        </div>
        <div  id="register-form">
            <form method="POST" action="/user/register">
                <div class="form-group">
                    <label class="form-control" for="username">ID</label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="ex) honggildong@gmail.com"/>
                </div>
                <div class="form-group">
                    <label class="form-control" for="username">PW</label>
                    <input class="form-control" type="text" name="password" id="password" placeholder="영문, 숫자 혼합 8자 이상 입력 해주세요."/>
                </div>
                <div class="form-group">
                    <label class="form-control" for="password-check">PW CHECK</label>
                    <input class="form-control" type="text" name="password-check" id="password-check" placeholder="패스워드를 한번 더 입력해주세요"/>
                </div>
                <div class="form-group">
                    <label class="form-control" for="nickname">NICKNAME</label>
                    <input class="form-control" type="text" name="nickname" id="nickname" placeholder="영문 5자 이상 입력해주세요."/>
                </div>
                <div class="form-group">
                    <input class="form-control btn btn-primary" type="submit" value="제출"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>